@font-face {
    font-family: 'Tabshoor Demo';
    src: url('TabshoorDemo.woff2') format('woff2'),
        url('TabshoorDemo.woff') format('woff'),
        url('TabshoorDemo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

